ul {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}
li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

a {
    padding: 15px;
    background-color: red;
    color: white;
}