<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/first.css">
</head>
<body>
    <h1>vous avez : {{ session['bankroll'] }} euro</h1>
    <h1>votre mise est de : {{ session['mise'] }}</h1>
    <h1>Votre premier tirage !!</h1>
    <ul>
        {% for card in session['hand'] %}
            <li>
                <img src="/static/images/{{card}}.svg" alt="" height="200">
                <a href="/remove/{{card}}">remove</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/second">Confirmer</a>
</body>
</html>


